div.ar-topbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: 2em;
    box-shadow: 0px 0px 5px -2px #004D40;
    background-color: #FFFFFF;
    z-index: 2;
    float: right;
}
div.ar-content{
    margin: 0 0 0 0;
    padding: 60px 15px;
}

div.ar-content .card{
    margin:0px 0px 15px 0px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    border-color: #009688;
    border-style: solid;
    box-shadow: 0px 0px 5px -3px #004D40;
    backface-visibility: visible;
    z-index: 1;
}
div.ar-content .card a{
    color: #EC407A;
}
div.ar-content .card .inner-content{
    padding: 10px;
}
div.ar-content .card .inner-content h2{
    color: #009688;
}
div.ar-content .card .inner-content h2 a{
    color: #009688;
}
div.ar-content .card .inner-content p{
    text-indent: 2em;
}

div.ar-content .card .inner-content .entry-date{
    float: right;
    color: #009688;
}