html {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    height: 100%;
    font-size: 100%;
    font: inherit;
    font-family:'微软雅黑' , Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
div {
    margin: 0;
    padding: 0;
}
div.navi-wrapper {
    position: absolute;
    padding: 40px 0 0 0;
    background-color: #009688;
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    transition: width 0.7s;
    color: #E0F2F1;
}
div.navi-wrapper .header{
    text-align: center;
}
div.navi-wrapper .header .myName {
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}
div.navi-wrapper .header .myName .chinese{
    font-size: 1.2em;
}
div.navi-wrapper .header .myName .english{
    font-size: 0.8em;
}
div.navi-wrapper .title {
    cursor: pointer;
}
div.navi-wrapper .menu{
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
    background-color: #009688;
    min-height: 100%;
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    transition: width 0.7s;
    z-index: 10;
}
div.navi-wrapper .menu ul{
    list-style-type: none;
    -webkit-transition: padding 0.7s;
    -moz-transition: padding 0.7s;
    transition: padding 0.7s;
}
div.navi-wrapper .menu ul li{
    display: table;
    -webkit-transition: padding 0.7s;
    -moz-transition: padding 0.7s;
    transition: padding 0.7s;
}
div.navi-wrapper .menu ul li .icon{
    display: table-cell;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
}
div.navi-wrapper .menu ul li .text {
    display: table-cell;
    vertical-align: middle;
    
}
div.content-wrapper {
    background-color: #E0F2F1;
    min-height: 100%;
    width: 100%;

}
div.portrait {
    width: 100%;
}
div.portrait img{
    border-width: 0px;
    border-radius: 64px;
    box-shadow: 0px 0px 10px #004D40;
}

div.chinese{
    font-size: 1.0em;
}
div.english{
    font-size: 0.6em;
}
.clearframe {
    clear: both;
}