@keyframes dayOut{
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-webkit-keyframes dayOut{
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@keyframes dayIn{
    100% {
        opacity:1;
    }
    0% {
        opacity:0;
    }
}
@-webkit-keyframes dayIn{
    100% {
        opacity:1;
    }
    0% {
        opacity:0;
    }
}
.calendar {
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0px 0px 5px #b5b5b5;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    text-align: center;
    display: inline-table;
    color: #009688;
}
.calendar tr{
    padding: 0;
}
.calendar tr th{
    border-radius: 2em;
    border-width: 0px;
    height: 2em;
    cursor: pointer;
}
.calendar tr th:active{
    background-color: #009688;
    color: #FFFFFF;
}
.calendar tr td{
    padding: 2px;
    border-radius: 2em;
    border-width: 0px;
    height: 2em;
    cursor: pointer;
}
.calendar tr td:active{
    background-color: #009688;
    color: #FFFFFF;
}
.calendar tr td:active svg{
    fill: #FFFFFF;
}

.calendar tr td .year{
    padding: 7px;
    text-align: center;
    height: 100%;
    font-size: 0.7em;
}
.calendar tr td.this-month{
    color: #009688;
}
.calendar tr td.this-month:active{
    background-color: #009688;
    color: #FFFFFF;
}
.calendar tr td.other-month{
    color: #b5b5b5;
}
.calendar tr td.other-month:active{
    background-color: #b5b5b5;
    color: #FFFFFF;
}
.calendar tr td.today{
    background-color: #009688;
    color: #FFFFFF;
}
.calendar .cur-year{
    font-size: 1.2em;
}

.calendar .cur-month{
    font-size: 1.2em;
}
.calendar .days{
    margin: 0;
}
.calendar .days td{
    width: 2.5em;
}
.calendar .weekends{
    color: #E91E63;
}