@charset "utf-8";
/*CSS Document*/
*{ margin:5 auto; padding:0;}
body{ 
	margin:0 auto;
	padding:0;
	background-color:#f1f0f0;
}
.topbar{
	background-color:#03a9f4;
	padding: 50px 100px 10px 210px;
	border-bottom:solid 2px #999;
}
.topbar img{
	float:left;

}
.topbar .title{
	margin:60px 15px 8px 35px;
	float:left;
	font-size:54px;
	font-family:"微软雅黑";
	text-align:center;
	color: #ffffff;
	
}
.content{
	margin: 0px 210px 0 210px;
	padding: 30px 20px 30px 20px;
	background-color:#ffffff;
	border:solid 2px #bdbdbd;
	border-top-width: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family:"微软雅黑";
}

.content .oldtitle{
	background-color:#03A9F4;
}

.clearframe{clear:both;}
