@keyframes narrowWidth{
    0%  {width: 100%;}
    100%{width: 50%;}
}
@-webkit-keyframes narrowWidth{
    0%  {width: 100%;}
    100%{width: 50%;}
}
@keyframes expandWidth{
    0%  {width: 0%;}
    100%{width: 50%;}
}
@-webkit-keyframes expandWidth{
    0%  {width: 0%;}
    100%{width: 50%;}
}
@keyframes fadeInVertical{
    0%  {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        }
    100%{
        opacity: 1;
        transform: none;
        }
}
@-webkit-keyframes fadeInVertical{
    0%  {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
        }
    100%{
        opacity: 1;
        transform: none;
        }
}
@keyframes fadeOut{
    0%  {
        opacity: 1;
        }
    100%{
        opacity: 0.5;
        }
}
@-webkit-keyframes fadeOut{
    0%  {
        opacity: 1;
        }
    100%{
        opacity: 0.5;
        }
}
@keyframes fadeIn{
    0%  {
        opacity: 0.5;
        }
    100%{
        opacity: 1;
        }
}
@-webkit-keyframes fadeIn{
    0%  {
        opacity: 0.5;
        }
    100%{
        opacity: 1;
        }
}
@keyframes flipInX{
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
    }
}
@-webkit-keyframes flipInX{
    0% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 20deg);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px);
    }
}