@keyframes gradientAppear{
    0%  {opacity: 0%;}
    25% {opacity: 50%}
    50% {opacity: 75%}
    75% {opacity: 90%}
    100%{opacity: 100%}
}
html {
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    height: 100%;
    font-size: 100%;
    font: inherit;
    font-family:'微软雅黑', Arial;
    vertical-align: baseline; 
}

div.leftbar{
    margin: 0 auto;
    padding: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #1C86EE;
    width: 23.6%;
    height: 100%;
    box-shadow: 5px 0px 10px #B5B5B5;
}
div.leftbar .header{
    margin: 0 auto;
    padding: 0 auto;
}
div.leftbar .header img{
    height: 200px;
    width: 100%;
}
div.leftbar .header canvas{
    position: absolute;
    left: 0px;
    top: 0px;
}
div.leftbar .content{
    margin: 0 auto;
    padding: 0 auto;
}
div.leftbar .content ul{
    margin: 0 auto;
    padding: 0 auto;
}
div.leftbar .content ul li{
    margin: 10px 0px 10px 0px;
    padding: 5px;
    color: #FFFAFA;
    cursor: pointer;
    list-style-type: none;
    -webkit-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    text-align: center;
}
div.leftbar .content ul li:hover{
    color: #1C86EE;
    background-color: #FFFAFA;
    -webkit-transition: background-color 0.4s ease-out, color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out, color 0.4s ease-out;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
div.leftbar .content ul li div.chinese{
    font-size: 1.5em;
}
div.leftbar .content ul li div.english{
    font-size: 0.5em;
}
div.leftbar .footer{
    margin: 0 auto;
    padding: 0 auto;
}
div.leftbar .footer .email{
    float: right;
    cursor: pointer;
}
div.rightframe{
    float: right;
    margin: 0;
    padding: 0;
    width: 76.4%;
    height: 100%;
    background-color: #FFFAFA;
}
div.rightframe iframe{
    border: none;
    height: 100%;
    width: 100%;
    
}
.clearframe{
    clear: both;
}
