@keyframes gradientAppear{
    0%  {opacity: 0%;}
    25% {opacity: 50%}
    50% {opacity: 75%}
    75% {opacity: 90%}
    100%{opacity: 100%}
}
html {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    height: 100%;
    font-size: 100%;
    font: inherit;
    font-family:'微软雅黑', Arial;
    vertical-align: baseline; 
}

div.leftbar{
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #42A5F5;
    width: 30%;
    height: 100%;
    box-shadow: 0px 0px 15px #d5d5d5;
}
div.leftbar .header{
    margin: 0 auto;
    height: 40%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("../images/White-Album-2-14.jpg");
}
div.leftbar .header #portrait{
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
}
div.leftbar .header .myName{
    color: #FFFAFA;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 64px;
}
div.leftbar .header img{
    position: relative;
    left: -64px;
    top: -64px;
    margin: 0 auto;
    border-radius: 64px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
div.leftbar .header canvas{
    position: absolute;
    left: 0px;
    top: 0px;
}
div.leftbar .content{
    margin: 0 auto;
    height: 54%;
}
div.leftbar .content .ul{
    margin: 10px 0px 10px 0px;
    width: 100%;
}
div.leftbar .content .ul .li{
    margin:0 auto;
    padding: 10px;
    color: #FFFAFA;
    cursor: pointer;
    -webkit-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    text-align: center;
    
}
div.leftbar .content .ul .li:hover{
    color: #42A5F5;
    background-color: #FFFAFA;
    -webkit-transition: background-color 0.4s ease-out, color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out, color 0.4s ease-out;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
div.chinese{
    font-size: 1.2em;
    text-align: center;
}
div.english{
    font-size: 0.5em;
    text-align: center;
}
div.leftbar .footer{
    margin: 0 auto;
}
div.leftbar .footer .email{
    float: right;
    cursor: pointer;
}
div.leftbar .footer .linkedin{
    float: right;
    cursor: pointer;
}
div.rightframe{
    float: right;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    background-color: #FFFAFA;
}
div.rightframe iframe{
    border: none;
    height: 100%;
    width: 100%;
    
}

.clearframe{
    clear: both;
}
