@keyframes gradientAppear{
    0%  {opacity: 0%;}
    25% {opacity: 50%}
    50% {opacity: 75%}
    75% {opacity: 90%}
    100%{opacity: 100%}
}
html {
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    height: 100%;
    font-size: 100%;
    font: inherit;
    font-family:'微软雅黑', Arial;
    vertical-align: baseline; 
}

div.leftbar{
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #42A5F5;
    width: 30%;
    height: 100%;
    box-shadow: 5px 0px 10px #d5d5d5;
}
div.leftbar .header{
    margin: 0 auto;
    height: 40%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("../images/White-Album-2-14.jpg");
}
div.leftbar .header #portrait{
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
}
div.leftbar .header .myName{
    color: #FFFAFA;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 64px;
}
div.leftbar .header img{
    position: relative;
    left: -64px;
    top: -64px;
    margin: 0 auto;
    border-radius: 64px;
    /*box-shadow: -4px -10px 10px rgba(0,0,0,1) inset;*/
}
div.leftbar .header canvas{
    position: absolute;
    left: 0px;
    top: 0px;
}
div.leftbar .content{
    margin: 0 auto;
    height: 54%;
}
div.leftbar .content .ul{
    margin: 10px 0px 10px 0px;
    width: 100%;
}
div.leftbar .content .ul .li{
    margin:0 auto;
    padding: 10px;
    color: #FFFAFA;
    cursor: pointer;
    -webkit-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in, color 0.4s ease-in;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    text-align: center;
    
}
div.leftbar .content .ul .li:hover{
    color: #42A5F5;
    background-color: #FFFAFA;
    -webkit-transition: background-color 0.4s ease-out, color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out, color 0.4s ease-out;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}
div.chinese{
    font-size: 1.2em;
    text-align: center;
}
div.english{
    font-size: 0.5em;
    text-align: center;
}
div.leftbar .footer{
    margin: 0 auto;
}
div.leftbar .footer .email{
    float: right;
    cursor: pointer;
}
div.leftbar .footer .linkedin{
    float: right;
    cursor: pointer;
}
div.rightframe{
    float: right;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    background-color: #FFFAFA;
}
div.rightframe iframe{
    border: none;
    height: 100%;
    width: 100%;
    
}
div.rightframe .header{
    margin:0 auto;
    padding: 5px 20px 5px 20px;
    height: 5%;
    box-shadow: 0px 5px 5px #f3f3f3;
}
div.rightframe .header div{
    padding: 5px;
    float: right;
    height: 100%;
}
div.rightframe .header div.resumeCH{
    font-size: 1.0em;
    color: #d5d5d5;
}
div.rightframe .header div.resumeCH:active{
    color: #EC407A;
}
div.rightframe .header div.resumeEN{
    font-size: 1.0em;
    color: #d5d5d5;
}
div.rightframe .header div.resumeEN:active{
    color: #EC407A;
}
div.rightframe .content{
    margin:0 auto;
    padding: 10px;
}
div.rightframe .content .card{
    margin:0px 0px 20px 0px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px #d5d5d5; 
}
div.rightframe .content .card .section{
    padding: 0px 5px 0px 5px;
    color: #2196F3;
    border-bottom-color: #2196F3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 1.5em;
}
div.rightframe .content .card .detail{
    padding: 10px 5px 0px 5px;
    color: #212121;
    font-size: 1.0em;
}
div.rightframe .content .card .detail .title{
    padding: 5px 0px 5px 0px;
    font-weight: bold;
}
div.rightframe .content .card .detail ul{
    margin: 0;
}
div.rightframe .content .card .detail li{
    padding: 5px;
}
.clearframe{
    clear: both;
}
