div.p-topbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: 2em;
    box-shadow: 0px 0px 5px -2px #004D40;
    background-color: #FFFFFF;
    z-index: 2;
}
div.p-content{
    margin: 0 0 0 0;
    padding: 60px 15px;
}
div.p-content .card{
    margin:0px 0px 15px 0px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    border-color: #009688;
    border-style: solid;
    box-shadow: 0px 0px 5px -3px #004D40;
    backface-visibility: visible;
    z-index: 1;
}
div.p-content .card a{
    color: #EC407A;
}
div.p-content .card{
    padding: 10px;
}
div.p-content .card img{
    width: 16em;
    height: 10em; 
    border-radius: 4px;
    border-width: 0px; 
}
div.p-content .card h4{
    color: #009688;
}
div.p-content .card h4 a{
    color: #009688;
}
div.p-content .card h4 span{
    color: #EC407A;
}
div.p-content .card .ops{
    display: table-row;
}
div.p-content .card .op{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}