div.p-topbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: 2em;
    box-shadow: 0px 0px 5px -2px #004D40;
    background-color: #FFFFFF;
    z-index: 2;
}
div.p-content{
    margin: 0 0 0 0;
    padding: 60px 15px;
}
div.p-content .card{
    margin:0px 5px 15px 5px;
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    border-color: #009688;
    border-style: solid;
    box-shadow: 0px 0px 5px -3px #004D40;
    backface-visibility: visible;
    z-index: 1;
}

div.p-content .card img{
    width: 16em;
    height: 10em; 
    border-radius: 4px;
    border-width: 0px; 
}
div.p-content .card h4{
    color: #009688;
    width: 100%;
    height: 1em;
}
div.p-content .card h4 a{
    color: #009688;
}
div.p-content .card h4 span{
    color: #EC407A;
}
div.p-content .card .description{
    height: 4em;
    width: 16em; 
    text-indent: 2em;
}
div.p-content .card .ops{
    text-align: center;
    width: 100%;
    
}
div.p-content .card .op{
    
    color: #FFFFFF;
}