html {
    min-height: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
    height: 100%;
    font-size: 100%;
    font: inherit;
    font-family:'微软雅黑', Arial;
    vertical-align: baseline; 
}
div.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin:0 auto;
    padding: 5px 20px 5px 20px;
    height: 2em;
    box-shadow: 0px 0px 15px #f3f3f3;
    background-color: #FFFAFA;
}
div.header .wrapper{
    margin:0px 40px 0px 0px;
    padding:0;
}
div.header .wrapper div{
    padding: 5px;
    float: right;
    height: 100%;
}
div.header div.resumeCH{
    font-size: 1.0em;
    color: #d5d5d5;
    cursor: pointer;
}
div.header div.resumeCH:active{
    color: #EC407A;
}
div.header div.resumeEN{
    font-size: 1.0em;
    color: #d5d5d5;
    cursor: pointer;
}
div.header div.resumeEN:active{
    color: #EC407A;
}
div.content{
    margin:2.5em auto;
    padding: 10px;
}
div.content .card{
    margin:0px 0px 20px 0px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #d5d5d5; 
    backface-visibility: visible;
    /*animation: flipInX 1.2s;
    -webkit-animation: flipInX 1.2s; */
}
div.content .card .section{
    padding: 0px 5px 0px 5px;
    color: #2196F3;
    border-bottom-color: #2196F3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 1.5em;
}
div.content .card .detail{
    padding: 10px 5px 0px 5px;
    color: #212121;
    font-size: 1.0em;
}
div.content .card .detail .title{
    padding: 5px 0px 5px 0px;
    font-weight: bold;
}
div.content .card .detail ul{
    margin: 0;
}
div.content .card .detail ul.skillblock{
    list-style: none;
}
div.content .card .detail ul li{
    padding: 5px;
}
div.content .card .detail ul.skillblock li{
    float: left;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
}
div.content .card .detail ul.skillblock li:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
.clearframe{
    clear: both;
}