div.re-topbar{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: 2em;
    box-shadow: 0px 0px 5px -2px #004D40;
    background-color: #FFFFFF;
}
div.re-topbar .re-wrapper{
    margin:0px 40px 0px 0px;
    padding:0;
}
div.re-topbar .re-wrapper div{
    padding: 5px;
    float: right;
    height: 100%;
}
div.re-topbar div.resumeCH{
    font-size: 1.0em;
    color: #d5d5d5;
    cursor: pointer;
}
div.re-topbar div.resumeCH:active{
    color: #EC407A;
}
div.re-topbar div.resumeEN{
    font-size: 1.0em;
    color: #d5d5d5;
    cursor: pointer;
}
div.re-topbar div.resumeEN:active{
    color: #EC407A;
}
div.re-content{
    margin: 10px 0 0 0;
    padding: 10px;
}
div.re-content a{
    color: #EC407A;
}

div.re-content .card{
    margin:0px 0px 15px 0px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    border-color: #009688;
    border-style: solid;
    box-shadow: 0px 0px 5px -3px #004D40;
    backface-visibility: visible;
}
div.re-content .card .section{
    padding: 0px 5px 0px 5px;
    color: #009688;
    border-bottom-color: #009688;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 1.5em;
}
div.re-content .card .detail{
    padding: 10px 5px 0px 5px;
    color: #212121;
    font-size: 1.0em;
}
div.re-content .card .detail .title{
    padding: 5px 0px 5px 0px;
    font-weight: bold;
}
div.re-content .card .detail ul{
    margin: 0;
}
div.re-content .card .detail ul.skillblock{
    list-style: none;
}
div.re-content .card .detail ul li{
    padding: 5px;
}
div.re-content .card .detail ul.skillblock li{
    float: left;
    border-radius: 3px;
    margin: 0px 5px 0px 5px;
}
div.re-content .card .detail ul.skillblock li:hover{
    background-color: #009688;
    color: #FFFFFF;
}